body {
    background-color: hsl(200, 100%, 65%);
    text-align: center;
}

#page-title {
    font-family: "Courier New", sans-serif;
    font-size: 100px;
}

img {
    height: 250px;
    width: auto;
}

li{
    font-family: "Brush Script MT", sans-serif;
    font-size: 65px;
}

#cake, #cake a{
    color: hsl(45, 50%, 30%);
}

#burritos, #burritos a{
    color: hsl(45,100%,85%);
}

#potato, #potato a{
    color: hsl(100, 100%, 85%);
}